body{
  font-family: 'メイリオ', Meiryo,'Osaka','Hiragino Kaku Gothic ProN','ヒラギノ角ゴ ProN W3',sans-serif;
}
li {
  list-style: none;
}

.header{
  background-color:green;
  /* background-color:#FFB319; */
  color: #fff;
  height: 150px;
  font-weight: bold;
  width: 100%;
}
.header-logo{
  float: left;
  font-size: 50px;
  font-weight: bold;
  padding-left: 20px;
  line-height: 150px;
}


/* footer */
.footer{
  background-color:green;
  height: 150px;
  color: white;
  font-size: 30px;
  padding: 20px;
}
.footer-logo{
  text-align: left;
  font-size: 25px;
  font-weight: bold;
}
.footer-list li{
text-align: right;
font-size: 20px;
font-weight: bold;
color: white;
padding-right: 2%;
}
/* #新しいTOP */

body{
  margin: 1px;   /* 外側の余白を30pxに */
   /* padding:0 200px ;   内側の余白を消す */
   background-color:#ffffad; /* 本文部分の背景色 */
}

.intro{
  position: relative;
  color: black;
  font-size: 20px;
  padding: 10px 0;
  text-align: center;
  margin: 1.5em 0;
  
}
.intro p{
  font-size: 20px;
  font-weight: bold;
}
.intro li{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-left:1em;
  text-indent:-1em;
}
.menu{
  text-align: center;
}
.btn{
  font-size:30px ;
  font-weight: bold;
  background-color: #e0e0e0;
  padding: 60px 120px;
  margin: 5%;
  box-shadow   : 6px 6px 3px #110553; 
  width: 600px;
  border-radius:30px;
}
.btn p{
  font-size: 30px;
  font-weight: bold;
}
button.btn:hover{
  background-color:#FFB319;
  /* background-color: rgb(56, 34, 221); */
  color: #fff;
}
.setsumei{
  font-size: 25px;
  font-weight: bold;
  /* color: #158b2b; */
  color: black;
  font-weight: bold;
}

/* courseのCSS */
.title{
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  color: #020201;
}

.junbi{
  text-align: center;
  height: 70pxpx;
}
.junbi p{
  font-size: 30px;
  font-weight: bold;
  color: black;
}
.junbi li{
  font-size: 20px;
  font-weight: bold;
}
.course_p{
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  color:black;
  font-weight: bold;
}
span{
  color: red;
}
.course{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  
}
.course p {
  text-align:left;
  font-size: 10px;
  font-weight: bold;
  font-weight: bold;
  color: #000000;

}
.btn_course1 {
  font-size:30px ;
  font-weight: bold;
  background-color: orange;
  box-shadow   : 6px 6px 3px #666666; 
  width: 300px;
  height: 200px;
  background-image:url(/static/images/しょうひんけん\(1\).png);
  border-radius:20px;
}
.btn_course2{
  font-size:30px ;
  font-weight: bold;
  background-color: orange;
  box-shadow   : 6px 6px 3px #666666; 
  width: 300px;
  height: 200px;
  background-image:url(/static/images/水島\ \(1\).png);
  border-radius:20px;
}

.btn_course3{
  font-size:30px ;
  font-weight: bold;
  background-color: orange;
  box-shadow   : 6px 6px 3px #666666; 
  width: 300px;
  height: 200px;
  background-image:url(/static/images/いぐお２.png);
  border-radius:20px;
}
.btn_course4{
  font-size:30px ;
  font-weight: bold;
  background-color: orange;
  box-shadow   : 6px 6px 3px #666666; 
  width: 300px;
  height: 200px;
  background-image:url(/static/images/東陽村\ \(1\).jpg);
  border-radius:20px;
  background-size: 100%;
}
.return{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}



.course_btn{
  width: 100px;
  height: 70px;
  border-radius:20px;
}

.course_btn:hover{
  background-color:#FFB319;
  /* background-color: rgb(56, 34, 221); */
  color: #fff;
}


/* introのページ */
.intro_setsumei{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0 200px;
}
.intro_setsumei p{
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  
}
.intro_pincoro h1{
  padding: 26px 20px 33px 30px;
  /* font-size: 212.5%; */
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.3;
  margin: 55 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/jizou2.png) no-repeat right top;
  background-size: 9px 100%, auto;
}
.intro_pincoro p{
  text-align: left;


}
.course_riyou p{
  text-align: left;
}
.bbs_setsumei p{
  text-align: left;
}
.course_riyou h1{
  padding: 26px 20px 33px 30px;
  /* font-size: 212.5%; */
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/歩く人のシルエットアイコン素材\ 1\ \(2\).png) no-repeat right top;
  background-size: 9px 100%, auto;
}
.bbs_setsumei h1{
  padding: 26px 20px 33px 30px;
  /* font-size: 212.5%;  */
  text-align: left;
  font-size: 45px;
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/ペライチの資料の無料アイコン素材\ 3\ \(1\).png) no-repeat right top;
  background-size: 9px 100%, auto;
}

/* 掲示板のページ */
.bbs{
  text-align:center;
}

.honbun {
  margin-top: 30px;
  margin-bottom: 12px;
}
.label{
  vertical-align: top;
  margin-right: 5px;
}
.toukou_hyouji{
  border-top: 1px solid;
  margin: 40px auto;
  max-width: 975px;
}

.bbs_area {
  border: solid 2px black;
  margin-bottom: 10px;
  text-align: center;
}
.bbs_comment {
  font-size: 20px;
}

.bbs_img {
  width: 300px;
  height: 300px;
  display: block;
  margin: 0 auto;
}

.henshin {
  text-align: center;
}

.reply {
  text-align: center;
}

.rep_hyouji_area {
  border: solid 2px black;
  margin-bottom: 10px;
  text-align: center;
}

.map{
  text-align: center; 
}
.map h1{
  font-size: 45px;
}
map p{
  font-size: 45px;
}

.omikuji {
  text-align: center;
}

.omikuji_random {
  width: 300px;
  height: 300px;
}

.omikuji_btn {
  padding: 20px 30px;
}

.omikuji_comment {
  font-size: 20px;
}