body {
  font-family: 'メイリオ', Meiryo, 'Osaka', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', sans-serif;
}

li {
  list-style: none;
}

header {
  background-color: green;
  color: #fff;
  height: 100px;
  font-size: 30px;
  font-weight: bold;
  width: 100%;
}

.header-logo {
  float: left;
  font-size: 25px;
  font-weight: bold;
  padding: 20px;
  line-height: 50px;
}

.header-list li {
  float: right;
  padding: 20px 20px;
  font-size: 20px;
  font-weight: bold;
  margin: 1 0 5 0;
}


header .hum_menu {
	position: absolute;
	right: 0px;
	top: 0px;
}

header .hum_menu a {
	display: block;
	height: 20px;
	padding: 10px 0;
	width: 40px;
  background: #eeeaec;
	text-align: center;
}

header .hum_menu span {
	display: block;
	width: 20px;
	height: 2px;
	background: #aaa;
  margin: 3px auto;
}

header ul {
	display: none;
	margin: 0 40px 0 0;
}

header ul li {
	width: 50%; 
	color: #acacac;
	line-height: 40px;
	text-align: left;
	font-size: 8px;
	text-indent: 5px;
}

header ul li a {
	display: block;
  z-index: 10;
  font-size: 12px;
  text-align: center;
}


header .open ul {
  position: relative;
	display: flex;
  flex-wrap: wrap;
  background: #eeeaec;
  z-index: 0;
}

/* footer */
.footer {
  background-color: green;
  height: 100px;
  color: white;
  font-size: 30px;
}

.footer-logo {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
}

.footer-list li {
  text-align: right;
  font-size: 10px;
  font-weight: bold;
}

/* #新しいTOP */

body {
  margin: 1px;
  /* 外側の余白を30pxに */
  /* padding:0 200px ;   内側の余白を消す */
  background-color: #FFF8DC;
  /* 本文部分の背景色 */
}

.intro {
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: black;
}

.intro p {
  font-size: 8px;
  font-weight: bold;
}

.intro li {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding-left: 1em;
  text-indent: -1em;
}

.menu {
  text-align: center;
}

.btn {
  font-size: 15px;
  font-weight: bold;
  background-color: #e0e0e0;
  padding: 60px 120px;
  margin: 5%;
  box-shadow: 6px 6px 3px #666666;
  width: 390px;
  border-radius: 30px;
}

.btn p {
  font-size: 10px;
  font-weight: bold;
}

button.btn:hover {
  background-color: #FFB319;
  color: #fff;
}

.setsumei {
  font-size: 25px;
  font-weight: bold;
  color: #158b2b;
  font-weight: bold;
}

/* courseのCSS */
.title {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #020201;
}

.junbi {
  text-align: center;
  height: 70pxpx;
}

.junbi p {
  font-size: 24px;
  font-weight: bold;
  color: black;
}

.junbi li {
  font-size: 20px;
  font-weight: bold;
}
.movie-wrap {
  position: relative;
  padding-bottom: 56.25%; /*アスペクト比 16:9の場合の縦幅*/
  height: 0;
  overflow: hidden;
}

.movie-wrap iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.course_p {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: black;
  font-weight: bold;
}
span{
  color: red;
}

.course {
  padding: 2.5% 0;
  text-align: center;
  /* display: flex;
  flex-direction: row;
  justify-content: space-evenly; */

}

.course p {
  text-align: left;
  font-size: 10px;
  font-weight: bold;
  font-weight: bold;
  color: #000000;

}

.btn_course1 {
  font-size: 30px;
  font-weight: bold;
  background-color: orange;
  box-shadow: 6px 6px 3px #666666;
  width: 300px;
  height: 200px;
  background-image: url(/static/images/しょうひんけん\(1\).png);
  margin-bottom: 40px;

}

.btn_course2 {
  font-size: 30px;
  font-weight: bold;
  background-color: orange;
  box-shadow: 6px 6px 3px #666666;
  width: 300px;
  height: 200px;
  background-image: url(/static/images/水島\ \(1\).png);
  margin-bottom: 40px;
}

.btn_course3 {
  font-size: 30px;
  font-weight: bold;
  background-color: orange;
  box-shadow: 6px 6px 3px #666666;
  width: 300px;
  height: 200px;
  background-image: url(/static/images/いぐお２.png);
  margin-bottom: 40px;
}

.btn_course4 {
  font-size: 30px;
  font-weight: bold;
  background-color: orange;
  box-shadow: 6px 6px 3px #666666;
  width: 300px;
  height: 200px;
  background-image: url(/static/images/東陽村\ \(1\).jpg);
  background-size: 100%;
  margin-bottom: 40px;
}

.return {
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.course_btn {
  width: 100px;
  height: 70px;
  border-radius: 30px;
}

/* introのページ */
.intro_setsumei {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  padding: 0 10px;
}

.intro_setsumei p {
  font-size: 10px;
  font-weight: bold;
  line-height: 35px;

}

.intro_pincoro h1 {
  padding: 26px 20px 33px 30px;
  font-size: 100%;
  text-align: left;
  font-size: 30px;
  font-weight: bold;
  line-height: 1.3;
  margin: 20 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  /* background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/jizou2.png) no-repeat right top; */
  background-size: 9px 100%, auto;
}

.intro_pincoro p {
  text-align: left;


}

.course_riyou p {
  text-align: left;
}

.bbs_setsumei p {
  text-align: left;
}

.course_riyou h1 {
  padding: 26px 20px 33px 30px;
  font-size: 150%;
  text-align: left;
  /* font-size: 45px; */
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  /* background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/歩く人のシルエットアイコン素材\ 1\ \(2\).png) no-repeat right top; */
  background-size: 9px 100%, auto;
}

.bbs_setsumei h1 {
  padding: 26px 20px 33px 30px;
  font-size: 133%;
  text-align: left;
  /* font-size: 45px; */
  font-weight: bold;
  line-height: 1.3;
  margin: 0 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  /* background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/ペライチの資料の無料アイコン素材\ 3\ \(1\).png) no-repeat right top; */
  background-size: 9px 100%, auto;
}

/* 掲示板のページ */
.bbs {
  text-align: center;
}

.honbun {
  margin-top: 30px;
  margin-bottom: 12px;
}

.label {
  vertical-align: top;
  margin-right: 5px;
}

.toukou_hyouji {
  border-top: 1px solid;
  margin: 40px auto;
  max-width: 975px;
}

.bbs_area {
  border: solid 2px black;
  margin-bottom: 10px
}

.bbs_comment {
  font-size: 20px;
}

.bbs_img {
  width: 300px;
  height: 300px;
}

.map {
  text-align: center;
}

.map h1 {
  font-size: 45px;
}

map p {
  font-size: 45px;
}

.jinja {
  margin-bottom: 10px;
}

.omikuji {
  text-align: center;
}

.omikuji_random {
  width: 300px;
  height: 300px;
  margin-bottom: 10px;
}