body{
  font-family: "Avenir Next";
}
li {
  list-style: none;
}

.header{
  background-color: orange;
  color: #fff;
  height: 150px;
  font-size: 30px;
}
.header-logo{
  float: left;
  font-size: 36px;
  padding: 20px 40px;
}
.header-list li{
  float: right;
  padding: 33px 20px;
  font-size: 20px;
}

/* footer */
.footer{
  background-color: orange;
  height: 150px;
  color: white;
  font-size: 30px;
}
.footer-logo{
  text-align: left;
  font-size: 25px;
}
.footer-list li{
text-align: right;
font-size: 20px;
}
/* #新しいTOP */

body{
  margin: 1px;   /* 外側の余白を30pxに */
   padding:0 200px ;   /* 内側の余白を消す */
   background-color: #74f074; /* 本文部分の背景色 */
}

.intro{
  text-align: center;
  font-size: 35px;
}
.intro p{
  font-size: 20px;
}
.intro li{
  text-align: center;
  font-size: 20px;
  padding-left:1em;
  text-indent:-1em;
}
.menu{
  text-align: center;
}
.btn{
  font-size:30px ;
  font-weight: bold;
  background-color: orange;
  padding: 60px 120px;
  margin: 5%;
  box-shadow   : 6px 6px 3px #666666; 
  width: 600px;

}
.btn p{
  font-size: 30px;
}
button.btn:hover{
  background-color: rgb(221, 199, 34);
  color: #fff;
}
.setsumei{
  font-size: 25px;
  color: #000000;
  font-weight: bold;
}

/* courseのCSS */
.title{
  font-size: 50px;
  text-align: center;
  color: #020201;
}

.junbi{
  text-align: center;
  height: 70pxpx;
}
.junbi p{
  font-size: 30px;
  color: black;
}
.course{
  padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.course p {
  text-align:left;
  font-size: 10px;
  font-weight: bold;
  color: #000000;

}
.btn_course {
  font-size:30px ;
  font-weight: bold;
  background-color: orange;
  /* padding: 60px 120px; */
  /* margin: 5%; */
  box-shadow   : 6px 6px 3px #666666; 
  width: 300px;
  height: 200px;

}
.return{
  text-align: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.course_btn{
  width: 100px;
  height: 70px;
}

/* introのページ */
.intro_setsumei{
  text-align: center;
  font-size: 20px;
  padding: 0 200px;
}
.intro_setsumei p{
  font-size: 20px;
  line-height: 35px;
  
}
.intro_pincoro h1{
  padding: 26px 20px 33px 30px;
  /* font-size: 212.5%; */
  text-align: left;
  font-size: 30px;
  line-height: 1.3;
  margin: 0 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/jizou2.png) no-repeat right top;
  background-size: 9px 100%, auto;
}
.intro_pincoro p{
  text-align: left;


}
.course_riyou p{
  text-align: left;
}
.bbs_setsumei p{
  text-align: left;
}
.course_riyou h1{
  padding: 26px 20px 33px 30px;
  /* font-size: 212.5%; */
  text-align: left;
  font-size: 45px;
  line-height: 1.3;
  margin: 0 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/歩く人のシルエットアイコン素材\ 1\ \(2\).png) no-repeat right top;
  background-size: 9px 100%, auto;
}
.bbs_setsumei h1{
  padding: 26px 20px 33px 30px;
  /* font-size: 212.5%;  */
  text-align: left;
  font-size: 45px;
  line-height: 1.3;
  margin: 0 0 55px;
  clear: both;
  border-bottom: 1px solid #295676;
  background: url(/shared/templates/free/images/border_h1.png) no-repeat left top, url(/static/images/ペライチの資料の無料アイコン素材\ 3\ \(1\).png) no-repeat right top;
  background-size: 9px 100%, auto;
}

/* 掲示板のページ */
.bbs{
  text-align:center;
}

.honbun {
  margin-top: 30px;
  margin-bottom: 12px;
}
.label{
  vertical-align: top;
  margin-right: 5px;
}
.toukou_hyouji{
  border-top: 1px solid;
  margin: 40px auto;
  max-width: 975px;
}