<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ピンコロやつしろ</title>
  <link rel="stylesheet" href="../static/css/style_pc.css" media="screen and (min-width:481px)">
  <link rel="stylesheet" href="../static/css/style_sp.css"media="screen and (max-width:480px)">
  <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js"></script>
  <script type="text/javascript" src="../static/js/common.js"></script>
  <title>ピンコロやつしろ</title>
</head>

<body>

  <header> 

      <div class="hum_menu">
        <!-- このクラスがハンバーガーボタンになる -->
        <a href="javascript:void(0);">
          <span></span>
          <span></span>
          <span></span>
        </a>
      </div>
    
      <div class="header-logo">ピンコロやつしろ</div>

      <div class="header-list">
        <ul>
          <li><a href="http://127.0.0.1:5000//">TOPへ</a></li>
          <li><a href="http://127.0.0.1:5000/course">コース一覧へ</a></li>
          <li><a href="http://127.0.0.1:5000/bbs">掲示板へ</a></li>
        </ul>
      </div>

  </header>

  {% block content %}
  
  {% endblock %}


  <div class="footer">
    <div class="footer-logo"> 運営 ピンコロやつしろ推進委員会</div>
    <div class="footer-list">
      <ul>
        <li>Special thanks</li>
        <li><a href="http://www.city.yatsushiro.lg.jp/">八代市</a></li>
        <li><a href="https://sunabaco.com/">sunabaco</a></li>
      </ul>
    </div>
  </div>

</body>

</html>