<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ピンコロやつしろ</title>
  <link rel="stylesheet" href="../static/css/style_pc.css" media="screen and (min-width:481px)">
  <link rel="stylesheet" href="../static/css/style_sp.css"media="screen and (max-width:480px)">

  <title>ピンコロやつしろ</title>
</head>

<body>

  <div class="header">
    <div class="header-logo">ピンコロ八代 </div>
  </div>

  {% block content %}
  
  {% endblock %}


  <div class="footer">
    <div class="footer-logo"> 運営 八代おさんぽでピンピンコロリ推進委員会</div>
    <div class="footer-list">
      <ul>
        <li><a href="http://www.city.yatsushiro.lg.jp/">八代市ホームページ</a></li>
        <li><a href="https://sunabaco.com/">sunabaco</a></li>
      </ul>
    </div>
  </div>

</body>

</html>