{% extends "base.html" %}
{% block content %}

<div class="bbs">

  <h1>掲示板</h1>

  <div class="shinki_toukou">
    <h2>新規投稿</h2>
    <form action="/add" method="post">
      <p>ニックネーム</p><input type="text" name="name" value="">
      <p>本文</p><textarea name="comment" cols="30" rows="3" wrap="hard"></textarea>
      <br>
      <input type="file" name="upload" class="file_upload">
      <input type="submit" value="投稿" class="toukou">
    </form>
  </div>

  {% for item in comment_list %}

  <div class="toukou_hyouji">
    <h2>投稿一覧</h2>
    <p>{{item["name"]}}</p>
    <p>投稿時間：{{item["time"]}}</p>
    <p>{{item["comment"]}}</p>
  </div>
  
  {% endfor %}

</div>

{% endblock %}