{% extends "base.html" %}
{% block content %}

<div class="main">
  <h1 class="title">八代のおさんぽコース一覧</h1>
  <div class="junbi">
    <img src="/static/images/walking.png" alt="">
    <a href="http://www.city.yatsushiro.lg.jp/kiji003769/3_769_3_tcazj5o8k1g5fmq18eqaendr.pdf">
      <p> まずは準備運動始めましょう <br>ここをクリック </p>
    </a>
    <img src="/static/images/junbikakou.png" alt="">
  </div>
</div>
<div class="course">
  <div class="taiyou">
    <button class="btn_course" onclick="location.href='">
      <img src="" alt="">
      <p>代陽・八代・大田郷・植柳</p>
    </button>

  </div>
  <div class="mugishima">
    <button class="btn_course" onclick="location.href='">
      <img src="" alt="">
      <p>麦島・松高・八千把・高田・金剛・郡築</p>
    </button>
  </div>
  <div class="miyaji">
    <button class="btn_course" onclick="location.href='">
      <img src="" alt="">
      <p>宮地・宮地東・昭和・龍峯・日奈久・二見</p>
    </button>
  </div>
  <div class="sakamoto">
    <button class="btn_course" onclick="location.href='">
      <img src="" alt="">
      <p>坂本・千丁・鏡・東陽・泉</p>
    </button>

  </div>
</div>
<div class="return">
  <button class="course_btn" onclick="location.href='">
    <p>TOPへ</p>
  </button>
</div>


{% endblock %}