{% extends "base.html" %}
{% block content %}

<div class="main">
  <h1 class="title">八代のおさんぽコース一覧</h1>
  <div class="junbi">
    <img src="/static/images/junbikakou.png" alt="">
    <a href="http://www.city.yatsushiro.lg.jp/kiji003769/3_769_3_tcazj5o8k1g5fmq18eqaendr.pdf">
      <p> まずは準備運動始めましょう <br>ここをクリック </p>
    </a>
    <img src="/static/images/junbikakou.png" alt="">
  </div>
</div>
<div class="course">
  <div class="taiyou">
    <p>代陽・八代・太田郷・植柳</p>
    <img src="/static/images/taiyoucourse.png" alt="">

  </div>
  <div class="mugishima">
    <p>麦島・松高・八千把・高田・金剛・郡築</p>
    <img src="/static/images/miyajicourse.png" alt="">

  </div>
  <div class="miyaji">
    <p>宮地・宮地東・昭和・龍峯・日奈久・二見</p>
    <img src="/static/images/miyajicourse.png" alt="">

  </div>
  <div class="sakamoto">
    <p>坂本・千丁・鏡・東陽・泉</p>
    <img src="/static/images/sakamotocourse3 (2).png" alt="">

  </div>
</div>
<div class="return">
<button class="course_btn" onclick="location.href='">
  <p>topへ</p>
</button>
</div>


{% endblock %}