{% extends "base.html" %}
{% block content %}


<div class="intro_setsumei">
  <div class="intro_pincoro">
    <h1>1.ピンピンコロリとは</h1>
    <p>ＰＰＫ（ピンピンコロリ）とは、充実した人生を存分に全うし、病まずにポックリと逝きたいという長寿の理想を表した言葉です。対義語として、寝たきりで長く生きるＮＮＫ（ネンネンコロリ）という言葉もあります。日本人の平均寿命は男性81.09歳、女性87.26歳です。それと比較して健康寿命は男性72.14歳、女性74.79歳です。平均寿命と健康寿命には約１０年の差があります。この期間の医療費は生涯にかかる医療費の半分近くを占めています。平均寿命と健康寿命の差を縮めることができれば、医療費・介護費を１０年あたり５兆円抑制できるという試算もあります。生き生きとした生活を長く送りつづけるためには、自分の足でしっかりと地面を踏みしめて、前向きに活動する事が基本です。ウォーキングは、ＰＰＫを目指す運動として最適で</p>
  </div>
  <div class="course_riyou">
    <h1>2.八代おさんぽコース</h1>
    <p>八代市内２１校区のウォーキングコースです。八代市の公式ページを参照しました。皆さんの健康や体力維持になるよう、このマップをぜひ活用してくだ</p>
  </div>
  <div class="bbs_setsumei">
    <h1>3.おさんぽ掲示板の利用について</h1>
    <p>歩くと出会える！ あたらしい八代せっかく歩くなら、ただ歩くだけなら勿体ないです。仲間と一緒にお喋りしたり、周囲の景色を楽しみながらあるきたいですね。このサイトでは、歩いている時に撮った風景や草花などを投稿できます。他の方が投稿した画像がどの辺りで写したものか探しながら歩いてみるのも楽しそう</p>
  </div>
</div>



{% endblock %}