{% extends "base.html" %}
{% block content %}


<div class="intro_setsumei">

  <div class="intro_pincoro">
    <h1>1.ピンコロやつしろについて</h1>
    <p>ピンコロやつしろとは八代のシニア層の健康寿命を伸ばすためのさんぽアプリです。日本人は平均寿命と健康寿命には約10年の差があります。このアプリでいろいろな人と楽しいコミュニケーションを取り、八代の魅力を再発見しながら、お散歩を習慣化しましょう。自分の足でしっかりと地面を踏みしめて、生涯現役！</p>
  </div>

  <div class="course_riyou">
    <h1>2.おさんぽコース</h1>
    <p>八代市内２１校区のウォーキングコースです。八代市の公式ページを参照しています。皆さんの健康や体力維持になるよう、このマップをぜひ活用してください。</p>
  </div>

  <div class="bbs_setsumei">
    <h1>3.掲示板の利用について</h1>
    <p>歩くと出会える！ あたらしい八代！せっかく歩くなら、ただ歩くだけでは勿体ないです。仲間と一緒にお喋りしたり、周囲の景色を楽しみながら歩きたいですね。この掲示板では、お友達にメールを送るように、おさんぽに関するメッセージや画像を投稿できます。他の方が投稿した画像がどの辺りで撮影したものか探しながら歩いてみるのも楽しそう！</p>
  </div>

  <div class="return">
    <button class="course_btn" onclick="location.href='http://127.0.0.1:5000//'">
      <p>TOPへ</p>
    </button>
  </div>

</div>



{% endblock %}