{% extends "base.html" %}
{% block content %}

<div class="main_map1">
  <div class="copy-container_map1">
    <h1> <span> 松高校区</span>でおおさんぽコース<span>!</span></h1>
    <h2>高島公園スタート！</h2>
  </div>
<!-- #地図 -->
  <div class="map1">
    <img src="/static/images/松高地図.png" alt="">
  </div>
  <!-- #掲示板 -->
  <div class="comment-box_map1">
    <textarea name="messe" cols="100" rows="10">何か書いてください</textarea>
    <input type="file" name="tenpu" value="">
  </div>
  <!-- #ログアウト -->
  <div class="logout_map1"><input type="submit" value="ログアウト">
  </div>

  {% endblock %}