{% extends "base.html" %}
{% block content %}




  <h1>おさんぽ新規登録</h1>
  <hr>
    <table border="0">
      <form action="/regist" method="post">
        <tr>
          <th>
            ニックネーム
          </th>
          <td>
            <input type="text" name="name" value="" size="24" required>
          </td>
        </tr>
        <tr>
          <th>
            パスワード
          </th>
          <td>
            <input type="password" name="password" value="" size="24" required>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input type="submit" name="login" value="登録">
          </td>
        </tr>
      </form>
    </table>





{% endblock %}