{% extends "base.html" %}
{% block content %}

<body>


  <br>
  <div class="intro">
    <h1>さんぽで健康促進ピンピンコロリ</h1>
    <p>ピンピンコロリ(PPK)とは、充実した人生を存分に全うし、病まずにポックリと逝きたいという長寿の理想を表した言葉です。</p>
    <p>人生１００年時代到来、お散歩でいつもと違う風景を楽しみながら、健康寿命を延ばしましょう!</p>
  </div>

    <div class="omikuji">
      <h1>＜ピンコロ神社＞</h1>
      <img  class="jinja" src="../static/images/omikuji-torii.png" alt="">
      <img class="omikuji_random" src="../static/images/巫女.jpg" alt="">

        <p class="omikuji_comment">今日の運勢を占ってみましょう！</p>
      <input type="button" class="omikuji_btn" value="今日の運勢">
    </div>

  <div class="menu">
    <div class="kouyou">
      <button class="btn" onclick="location.href='http://127.0.0.1:5000/intro'">
        <img src="/static/images/jizou3.png" alt="">
        <p>ピンコロやつしろとは</p>
      </button>
    </div>
    <!-- <p class="setsumei">ピンピンコロリで逝きましょう</p> -->


    <div class="sanpo">
      <button class="btn" onclick="location.href='http://127.0.0.1:5000/course'">
        <img src="/static/images/jizou3.png" alt="">
        <p>八代のお散歩コース一覧</p>
      </button>
    </div>
    <!-- <p class="setsumei">八代の地域ごとのお散歩コースです</p> -->


    <div class="bbs">
      <button class="btn" onclick="location.href='http://127.0.0.1:5000/bbs'">
        <img src="/static/images/camera.png" alt="">
        <p>みんなのおさんぽ掲示板</p>
      </button>
    </div>
    <!-- <p class="setsumei">みんなで寄って語って</p> -->
  </div>
</body>

{% endblock %}