{% extends "base.html" %}
{% block content %}

<br>
<div class="menue">
  <div class="kouyou">
    <button class="btn" onclick="location.href='">
      <p>ピンコロの効用について</p>
    </button>
  </div>
  <p class="setsumei">ピンピンコロリで活きましょう</p>
  <div class="sanpo">
    <button class="btn" onclick="location.href='">
      <p>八代のお散歩コース一覧</p>
    </button>
  </div>
  <p class="setsumei">八代の地域ごとのお散歩コースです</p>
  <div class="bbs">
    <button class="btn" onclick="location.href='">
      <p>みんなのおさんぽ掲示板</p>
    </button>
  </div>
  <p class="setsumei">みんなで寄って語って</p>
</div>
<br>


{% endblock %}