{% extends "base.html" %}
{% block content %}

<br>
<div class="intro">
  <h2>ピンピンコロリピンピンコロリ</h2>
  <p>テキストテキストテキストテキストテキストテキスト</p>
</div>
<div class="menue">
  <div class="kouyou">
    <img src="/static/images/jizou3.png" alt="">
    <button class="btn" onclick="location.href='">
      <p>さんぽでピンピンコロリとは</p>
    </button>
  </div>
  <p class="setsumei">ピンピンコロリで逝きましょう</p>
  <div class="sanpo">
    <img src="/static/images/walking.png" alt="">
    <button class="btn" onclick="location.href='">
      <p>八代のおお散歩コース一覧</p>
    </button>
  </div>
  <p class="setsumei">八代の地域ごとのお散歩コースです</p>
  <div class="bbs">
    <img src="/static/images/camera.png" alt="">
    <button class="btn" onclick="location.href=">
      <p>みんなのおさんぽ掲示板</p>
    </button>
  </div>
  <p class="setsumei">みんなで寄って語って</p>
</div>
<br>


{% endblock %}